@import '../../assets/constants.scss';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 340px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
 box-shadow: 0px 0px 6px 0px #00000024;
  border-radius: 12px;
  padding: 30px;
  box-sizing: border-box;



  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    position: relative;
  }
}

.login-page-inputs {
flex: 1;
}
