{{#> Init }}
 <form class="login-page">
        {{> PagesTitle title="Вход" }}
        {{> InitInput className="login-page__input" title='Логин' name="Логин" }}
        {{> InitInput className="login-page__input" title='Пароль' name="Пароль" type="password"}}
        {{> Button name="Авторизоваться" page="chatPage" className="init_button"}}
        {{> Button name="Нет аккаунта?" page="registration" className="no_acc_button"}}
  </form>
{{/ Init }}
