@import '../../assets/constants.scss';

.button {
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  margin: 10px;
  position: relative;

  &.error {
    &::after {
      position: absolute;
      left: 50%;
      top: 70px;
      font-size: 9px;
      color: #f00;
      transform: translateX(-50%);
      content: 'Ошибка';
    }
  }
}

.button-primary {
  background-color: $blue-color;
  color: $text-bgcolor;
}

.button-secondary {
  margin: 10px 0 0;
  color: $button-secondary-color;
  background-color: $text-bgcolor;
}

.button-primary-size-small {
  width: 50%;
}
