<div class='sidebar'>
  <div class='conversation-search'>
    {{{ProfileLink}}}
    {{{MessageSearchInputBlock}}}
  </div>
  <div class='conversation-list'>
    {{{ConversationList}}}
  </div>
</div>
<div class='main-content'>
  {{{ChatCorrespondence}}}

</div>
