<section class="user_page">
    {{#with (userInfo)}}
    <form class="user_photo">
        {{> UserPhoto src=photo alt="Моё фото"}}
        <button class="photo_change">Изменить фото</button>
    </form>
    <h2>{{first_name}}</h2>
    {{/with}}
    {{#with (userInfo)}}
    <form class="user_info">
        {{> UserInput inputName='Почта' title='Почта'  value=email disabled='true'}}
        {{> UserInput inputName='Логин' title='Логин' value=login disabled='true'}}
        {{> UserInput inputName='Имя' title='Имя' value=first_name disabled='true'}}
        {{> UserInput inputName='Фамилия' title='Фамилия' value=second_name disabled='true'}}
        {{> UserInput inputName='Имя в чате' title='Имя в чате' value=chat_name disabled='true'}}
        {{> UserInput inputName='Телефон' title='Телефон' value=phone_number disabled='true'}}
    </form>
{{/with}}
    <form class="buttons">
        <ol><a href="userInfoChangePage" page="userInfoChangePage">Изменить данные</a></ol>
        <ol><a href="userPasswordChangePage" page="userPasswordChangePage">Изменить пароль</a></ol>
        <ol><a href="/" page="/">Выйти</a></ol>
    </form>
</section>
