@import '../../../assets/constants.scss';

.user-page {
  height: 100vh;
  display: flex;

  & .back-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $blue-color;
  }

  & .sidebar {
    width: 64px;
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    justify-content: center;
  }

  & .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    & .user-photo {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 60px;

      img {
        height: 130px;
        width: 130px;
        margin-bottom: 20px;
      }
    }

    & .user-info {
      width: 510px;
    }

    & .inputs-list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 60px;

      & .user-info-row {
        position: relative;

        & label {
          position: absolute;
          top: 20%;
        }

        & input {
          text-align: end;
          height: 30px;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid $divider-line-color;
        }
      }
    }

    .change-info a {
      flex-direction: column;
      display: flex;
      text-decoration: none;
      border-bottom: 1px solid $divider-line-color;
      height: 30px;
      justify-content: center;
    }
  }
}
