@import url('../../assets/constants.scss');

.registration-page {
  background: $dialog-bgcolor;
  flex-direction: column;
  display: flex;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-page__inputs {
  flex: 1;
}

.registration-form {
  box-shadow: $dialog-shadow;
  height: 615px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 30px;
  box-sizing: border-box;

  &__input {
    margin-top: 16px;
    width: 280px;
  }
}

.registration-page-buttons {
  flex-direction: column;
  display: flex;
  align-items: center;
}
