$blue-color: rgb(51 105 243);
$link-color: rgb(51 105 243);
$button-color: rgb(255 255 255);
$button-secondary-color: $link-color;
$text-bgcolor: rgb(255 255 255);
$dialog-bgcolor: $text-bgcolor;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-large: 40px;
$font-big: 20px;
$font-title: 16px;
$font-regular: 13px;
$font-small: 12px;
$font-micro: 11px;
$font-nano: 9px;
$text-color: rgb(0 0 0);
$text-light-color: rgb(153 153 153);
$title-color: rgb(30 30 30);
$button-color: rgb(255 255 255);
$button-bgcolor: $link-color;
$menu-button-color: $button-bgcolor;
$menu-button-bgcolor: rgb(245 245 245);
$menu-font: 12px;
$menu-bgcolor: $text-bgcolor;
$menu-shadow: 0 0 6px rgba(0 0 34 26.7%);
$divider-line-color: #eaeaea;
$chat-list-bgcolor: rgb(251 251 251);
$chat-list-current-bgcolor: rgb(228 237 253);
$chat-message-font: 500 12px/15px;
$chat-message-bgcolor: rgb(248 248 248);
$chat-message-color: #1e1e1e;
$chat-message-inverse-color: rgb(255 255 255);
$chat-message-inverse-bgcolor: rgba(82 82 82 50.2);
$chat-message-my-bgcolor: rgb(228 237 253);
$chat-message-my-color: $chat-message-color;
$chat-message-my-time-color: $button-bgcolor;
$dialog-shadow: $menu-shadow;
$dialog-modal-overlay-bgcolor: rgba(0 0 102 40%);
$dialog-modal-content-shadow: $menu-shadow;
$dialog-modal-title: 500 15px/20px;
$gray-light-color: rgb(239 239 239);

img {
  width: 47px;
  border-radius: 50%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
