<section class="user_page">
    {{#with (userInfo)}}
    <form class="user_info">
        {{> UserInput title='Старый пароль' type='password' name=curentPassword}}
        {{> UserInput title='Новый пароль' type='password' name=newPassword}}
        {{> UserInput title='Повторите новый пароль' type='password' name=repeatNewPassword}}
    </form>
{{/with}}
    <form class="buttons">
        <ol><a href="userPage" page="userPage" style='text-decoration: none'>Сохранить</a></ol>
    </form>
</section>
